/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 22; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
.modalj {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 22; /* Sit on top */
    padding-top: 2%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.julio_img{
  width: 100%;
}
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 24px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 4px 16px;
    background-color: #5cb85c;
    color: white;
    /*height: 28px;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
  }
  
  .modal-body {
    padding: 16px 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    text-align: center;
    z-index: -1;

  }

  .modal-header-tittle {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

  }
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  .footer {
    position: absolute;
    display: table;
    width: 100%;
    bottom: 0;
    opacity: 20%;
  }
     
  .footer span {
    display: table-cell;
    padding: 0px 15px 5px;
     
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 70%;

  }
     
  .footer span:nth-of-type(1) {
    /* text-align: left;

    padding-inline-start: 10%; */

  }
  .footer span:nth-last-child(1) {

  }

  .foot-image{
    width: 100px;
    opacity: 40%;
    /* filter: drop-shadow(1px 1px 1px #222); */
  }

  .foot-image-idep{
    width: 155px;
    /* filtro para "Verde ATE" */
    filter: brightness(0) saturate(100%) invert(47%) sepia(35%) saturate(838%) hue-rotate(85deg) brightness(93%) contrast(93%);
    opacity: 40%;
    /* filter: drop-shadow(1px 1px 1px #222); */
  }

  .aspiradora{
    width: 300px;
  }

  .hardware_img_clase1{
    width: 380px;
    border-radius: 5px; 
    filter: drop-shadow(5px 5px 4px #707070);
  }

.rojo
{
  color:red
}

.codigo_shadow{
  filter: drop-shadow(4px 4px 4px #707070);
  border-radius: 5px;
}

.codigo-redondo{
  border-radius: 5px;
}



